apiVersion: apps/v1
kind: Deployment
metadata:
  name: taskboard-backend
  namespace: taskboard
spec:
  replicas: 2
  selector:
    matchLabels:
      app: taskboard-backend
  template:
    metadata:
      labels:
        app: taskboard-backend
    spec:
      containers:
        - name: taskboard-backend
          image: ghcr.io/johnfromspace/taskboard-backend:latest
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10

